<template>
    <div id="home">
        <md-dialog :md-active.sync="showNews">
            <News @close="showNews=false"/>
        </md-dialog>
        <div class="bannerImg"></div>
        <div class="md-display-2" style="padding: 10px">Togetwallet
            <span class="md-primary" style="cursor: pointer;" @click="clickShowNews">
                <md-icon style="color: #39bae1;font-size: 24px;">new_releases</md-icon>
                <span style="font-size: 6px">What news?</span>
            </span>
        </div>

        <md-button class="md-icon-button" @click="showParticipate = !showParticipate">
            <md-icon>group_add</md-icon>
        </md-button>
        <md-button class="md-icon-button" @click="saveSnapshot" :disabled="saving">
            <md-icon>backup</md-icon>
            <md-progress-bar md-mode="indeterminate" v-if="saving"/>
        </md-button>

        <md-button class="md-icon-button" @click="deleteSnapshot">
            <md-icon>delete</md-icon>
        </md-button>
        <md-button class="md-icon-button" disabled>
            <md-icon>share</md-icon>
        </md-button>
        <md-button class="md-icon-button" @click="applyDemo">
            Demo
        </md-button>
        <md-app>
            <md-app-drawer md-permanent="full" :md-active.sync="showParticipate" id="participateContainer">
                <div class="md-headline" style="padding: 10px">參與人</div>
                <md-chips v-model="participates"
                          md-placeholder="Add here..."
                          md-deletable=false
                          @keydown.backspace="gogo">
                    <template slot-scope="{ chip }" slot="md-chip">
                        {{ chip }}
                    </template>
                    <div class="md-helper-text">參與者金額會在下方結算呦!</div>
                </md-chips>
                <div style="text-align: left;">
                    <span>篩選：</span>
                    <md-chip v-for="(man, idx) in participates"
                             :key="idx"
                             md-clickable
                             @click="clickParticipateFilter(man)"
                             class="filter-md-chip"
                             :class="{ active: participatesFilter.indexOf(man) !== -1 }">
                        {{man}}
                    </md-chip>
                </div>
                <div>
                    <md-table-toolbar>
                        <md-switch v-model="isHelpCalOwn">幫我算好給誰!</md-switch>
                    </md-table-toolbar>
                    <md-table v-if="isHelpCalOwn" v-model="filteredSummaryOwnParticipate" style="margin: 5px;" md-fixed-header md-card>
                        <md-table-row slot="md-table-row" slot-scope="{item}">
                            <md-table-cell md-label="參與人" md-sort-by="name" class="table-cell-string">{{ item.name }}</md-table-cell>
                            <md-table-cell md-label="對象" md-sort-by="own" class="table-cell-string">{{ item.own }}</md-table-cell>
                            <md-table-cell md-label="尚須給金額" md-sort-by="money" class="table-cell-number">{{_.round(item.money).toLocaleString() + "$"}}</md-table-cell>
                        </md-table-row>
                    </md-table>
                    <md-table v-model="filteredSummaryParticipateTotal" style="margin: 5px;" md-fixed-header md-card v-else>
                        <md-table-row slot="md-table-row" slot-scope="{item}">
                            <md-table-cell md-label="參與人" md-sort-by="name" class="table-cell-string">{{ item.name }}</md-table-cell>
                            <md-table-cell md-label="狀態" md-sort-by="own" class="table-cell-string">{{ item.type === "giver" ? "拿出" : "取走" }}</md-table-cell>
                            <md-table-cell md-label="金額" md-sort-by="money" class="table-cell-number">{{_.round(item.money).toLocaleString() + "$"}}</md-table-cell>
                        </md-table-row>
                    </md-table>
                </div>
            </md-app-drawer>
            <md-app-content md-permanent="full" id="billingEditContainer">
                <div class="md-headline">新增支出</div>
                <md-field>
                    <label>金額:</label>
                    <md-input v-model="billing.money" type="number"/>
                    <span class="md-suffix">$</span>
                </md-field>
                <md-field>
                    <label>項目:</label>
                    <md-input v-model="billing.note" type="text"/>
                </md-field>
                <div class="label-left">
                    <label>付款人:</label>
                    <div>
                        <md-radio v-for="(man,index) in participates" :value="man" :key="index" v-model="billing.payer">{{man}}</md-radio>
                    </div>
                </div>
                <hr>
                <div class="label-left">
                    <label>參與人:</label>
                    <div>
                        <md-checkbox v-for="(man,index) in participates" :value="man" :key="index" v-model="billing.participates">{{man}}</md-checkbox>
                    </div>
                </div>
                <md-button @click="addBilling">
                    <md-icon>note_add</md-icon>
                </md-button>
                <hr>
                <Billing :billings="billings" @deleteBilling="deleteBilling"/>
            </md-app-content>
            <Participate/>
            {{summaryParticipateTotal}}
        </md-app>
    </div>
</template>

<script>
    // @ is an alias to /src
    import HelloWorld from '@/components/HelloWorld.vue';
    import Participate from '@/components/Participate.vue';
    import Billing from '@/components/Billing.vue';
    import News from '@/components/News.vue';

    function initialData() {
        return {
            isHelpCalOwn: false,
            showParticipate: true,
            saving: false,
            billings: [],
            billing: {
                money: null,
                note: null,
                payer: null,
                createDate: new Date(),
                participates: [],
            },
            participateName: null,
            participateId: 1,
            participates: ['Ray', 'Catherine'],
            participatesFilter: [],
            showNews: false
        }
    }

    export default {
        name: 'home',
        components: {
            HelloWorld,
            Billing,
            Participate,
            News
        },
        data: function () {
            return initialData();
        },
        beforeMount: function () {
            let obj = window.localStorage.getItem("GF_WALLET_OBJ");
            if (obj) {
                Object.assign(this.$data, JSON.parse(obj));
            }
        },
        methods: {
            clickShowNews: function () {
                this.showNews = !this.showNews;
            },

            addBilling: function () {
                this.billings.push(Object.assign({}, this.billing, {createDate: new Date()}));
                this.billing.money = null;
                this.billing.note = null;
                this.billing.payer = null;
                this.billing.participates = this.participates.slice();
            },
            deleteBilling: function (index) {
                this.billings.splice(index, 1);
            },
            saveSnapshot: function () {
                this.saving = !this.saving;
                setTimeout(function () {
                    this.saving = !this.saving;
                    let data = JSON.stringify(this.$data);
                    window.localStorage.setItem("GF_WALLET_OBJ", data);
                    this.$copyText(data).then(function (e) {
                        console.log('Copied', e)
                    }, function (e) {
                        console.warn('Can not copy' + e);
                    });
                }.bind(this), 1000);
            },
            deleteSnapshot: function () {
                if (confirm("Do you want to clear all, including data you had saved ?")) {
                    window.localStorage.removeItem("GF_WALLET_OBJ");
                    Object.assign(this.$data, initialData());
                }
            },
            clickParticipateFilter: function (participate) {
                let index = this.participatesFilter.indexOf(participate);
                if (index === -1) {
                    this.participatesFilter = [];
                    this.participatesFilter.push(participate);
                } else {
                    this.removeParticipateInFilter(participate);
                }
            },
            removeParticipateInFilter: function (participate) {
                let index = this.participatesFilter.indexOf(participate);
                if (index === -1) {
                    this.participatesFilter.push(participate);
                } else {
                    this.participatesFilter.splice(index, 1);
                }
            },
            applyDemo: function () {
                Object.assign(this.$data, JSON.parse('{"showParticipate":true,"saving":false,"billings":[{"money":"450","note":"國際駕照","payer":"Ray","participates":["Ray","Catherine"],"createData":"2018-10-04T04:02:55.750Z"},{"money":"3744.123333","note":"騎馬","payer":"Ray","participates":["Ray","Catherine"],"createData":"2018-10-04T04:02:55.750Z"},{"money":"3550","note":"交通","payer":"Ray","participates":["Ray","Catherine"],"createData":"2018-10-04T04:02:55.750Z"},{"money":"2424","note":"行李托運","payer":"Ray","participates":["Ray","Catherine"],"createData":"2018-10-04T04:02:55.750Z"},{"money":"38400","note":"現金","payer":"Catherine","participates":["Ray","Catherine"],"createData":"2018-10-04T04:02:55.750Z"},{"money":"950","note":"多比飼料","payer":"Ray","participates":["Ray","Catherine"],"createData":"2018-10-04T04:02:55.750Z"},{"money":"250","note":"貓砂+水","payer":"Ray","participates":["Ray","Catherine"],"createData":"2018-10-04T04:02:55.750Z"},{"money":"550","note":"藥","payer":"Ray","participates":["Ray","Catherine"],"createData":"2018-10-04T04:02:55.750Z"},{"money":"250","note":"晚餐","payer":"Catherine","participates":["Ray"],"createData":"2018-10-04T04:02:55.750Z"},{"money":"600","note":"露營","payer":"Catherine","participates":["Ray"],"createData":"2018-10-04T04:02:55.750Z"},{"money":"4200","note":"澎湖機票","payer":"Ray","participates":["Catherine"],"createData":"2018-10-04T04:02:55.750Z"}],"billing":{"money":null,"note":null,"payer":null,"participates":["Ray","Catherine"]},"participateName":null,"participateId":1,"participates":["Ray","Catherine"]}'));
            }
        },
        watch: {
            billings: {
                handler: function () {
                    this.saveSnapshot();
                },
                deep: true
            },
            participates: {
                handler: function () {
                    this.saveSnapshot();
                },
                deep: true
            }
        },
        computed: {
            blockChainBillings: function () {
                let result = [];
                this.billings.forEach(billing => {
                    let eachOnePayMoney = billing.money / billing.participates.length;
                    billing.participates
                        .filter(man => man !== billing.payer)
                        .forEach(man => {
                            let participate = _.find(result, {name: man, own: billing.payer});
                            if (participate) {
                                participate.money += -eachOnePayMoney;
                            } else {
                                result.push({name: man, money: -eachOnePayMoney, own: billing.payer});
                            }
                        });
                });
                return result;
            },

            filteredSummaryOwnParticipate: function () {
                let isNotFilter = this.participatesFilter.length === 0;
                if (isNotFilter) {
                    return this.summaryOwnParticipate;
                }
                return this.summaryOwnParticipate.filter(b =>
                    this.participatesFilter.indexOf(b.name) !== -1 ||
                    this.participatesFilter.indexOf(b.own) !== -1
                );
            },

            filteredSummaryParticipateTotal: function() {
                let isNotFilter = this.participatesFilter.length === 0;
                if (isNotFilter) {
                    return this.summaryParticipateTotal;
                }
                return this.summaryParticipateTotal.filter(b =>
                    this.participatesFilter.indexOf(b.name) !== -1
                );
            },

            summaryParticipateTotal: function () {
                let simplifyBillings = [];
                this.participates.forEach(man => {
                    let whoBills = _.filter(this.summaryOwnParticipate, p => {
                        return p.name === man || p.own === man;
                    }).reduce((prev, giver) => {
                        let isThisManPay = giver.own === man;
                        let thisMoney = isThisManPay ? Math.abs(giver.money) : giver.money;
                        let isPayMore = thisMoney + prev.money > 0;
                        return {
                            name: man,
                            money: prev.money + thisMoney,
                            type: isPayMore ? "receiver" : "giver"
                        }
                    }, {money: 0});
                    simplifyBillings = simplifyBillings.concat(whoBills);
                });

                return simplifyBillings;
            },
            summaryOwnParticipate: function () {
                let simplifyBillings = [];
                let blockChainBillings = _.cloneDeep(this.blockChainBillings);
                blockChainBillings.forEach((billingA) => {
                    if (billingA.skip) return true;
                    let aOwnB_billings = _.filter(blockChainBillings, {name: billingA.own, own: billingA.name});
                    if (aOwnB_billings) {
                        let sumMoneyFromBs = _.sumBy(aOwnB_billings, (b) => b.money);
                        let isOwnB = sumMoneyFromBs > billingA.money;
                        billingA = Object.assign(billingA, {
                            name: billingA[isOwnB ? "name" : "own"],
                            own: billingA[isOwnB ? "own" : "name"],
                            money: -Math.abs(-billingA.money + sumMoneyFromBs)
                        });
                        aOwnB_billings.map(b => b.skip = true);
                    }

                    simplifyBillings.push(Object.assign({}, billingA));
                });

                simplifyBillings = _.sortBy(simplifyBillings, ["same", "name"]);
                return simplifyBillings;
            }
        }
    };
</script>

<style lang="scss">
    #home {
        padding: 3%;
        font-family: "Microsoft JhengHei UI", serif;
    }

    .label-left {
        text-align: left;
        padding-left: 20px;
    }

    .summary-list {
        text-align: left;
        display: inherit;
        margin: 10px;
    }

    .bannerImg {
        height: 120px;
        border-radius: 4px;
        background-position-y: 80%;
        background-size: 100%;
        background-repeat: no-repeat;
        background-image: url("../assets/181001_0205.jpg");
    }

    #billingContainer {
        background-color: aliceblue;
    }

    #participateContainer {
        padding: 10px;
    }

    .md-accent {
        background-color: #63ce62 !important;
    }

    select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
        font-size: 16px !important;
    }

    .filter-md-chip {
        zoom: 0.7;
        margin: 2px;
    }

    .active {
        background-color: #CDDC39 !important;
    }

    .table-cell-string {
        text-align: left;
    }

    .table-cell-number {
        text-align: right;
    }
</style>