<template>
    <div id="billingContainer" v-if="billings.length > 0">
        <div class="md-headline">歷史支出</div>
        <md-card v-for="(billing, index) in billings" :key="index" md-with-hover>
            <md-card-header>
                <md-card-header-text>
                    <div class="md-title" style="float: left;">
                        <md-chip class="md-primary">{{billing.payer}}</md-chip>
                        <span style="font-size: 20px;">{{billing.note || "N/A"}}: {{_.round(+billing.money).toLocaleString() + '$'}}</span>
                    </div>
                    <div style="clear: both; text-align: right;">
                        <md-chip v-for="(name, index) in billing.participates" :key="index" class="md-accent" style="margin: 2px;">{{name}}</md-chip>
                    </div>
                </md-card-header-text>
            </md-card-header>
            <md-card-content>
                <md-button class="md-icon-button center" @click="$emit('deleteBilling', index)">
                    <md-icon>delete</md-icon>
                </md-button>
                <md-button class="md-icon-button center" @click="$emit('deleteBilling', index)" disabled>
                    <md-icon>edit</md-icon>
                </md-button>
            </md-card-content>
        </md-card>
    </div>
</template>

<script>
    export default {
        name: 'Billing',
        components: {},
        props: ['billings'],
        data: function () {
            return {}
        },
        methods: {}
    }
</script>

<style lang="scss" scoped>
    .md-card {
        width: 100%;
        margin: 4px;
        display: inline-block;
        vertical-align: top;
    }

    .center {
        margin: 0 auto;
    }

    .md-accent {
        background-color: #63ce62 !important;
    }

    #billingContainer {
        padding: 20px;
        background-color: #dedede;
    }
</style>