<template>
    <div id="container">
        <md-dialog-title>最新消息</md-dialog-title>
        <span class="md-primary" style="cursor: pointer; float: right;" @click="$emit('close')">
                <md-icon>close</md-icon>
            </span>
        <md-tabs>
            <md-tab md-label="更新歷程">
                <ul>
                    <li>
                        2018/10/17
                        <ul>
                            <li>修正參與人Filter Bug</li>
                            <li>【聚會回饋】增加參與者總共要 給多少/拿多少</li>
                        </ul>
                    </li>
                    <hr/>
                    <li>
                        2018/10/9
                        <ul>
                            <li>增加參與人Filter功能</li>
                            <li>移除所有金額小數點</li>
                            <li>現在每個動作都會自動儲存囉!</li>
                            <li>新增NEWS介紹頁</li>
                            <li>中文化介面</li>
                        </ul>
                    </li>
                    <hr/>
                    <li>2018/10/4
                        <ul>
                            <li>初版：α測試</li>
                        </ul>
                    </li>
                </ul>
            </md-tab>

            <md-tab md-label="關於作者">
                <div style="margin: 0 auto; width: 100%">

                    <md-list>
                        <md-avatar class="md-large">
                            <img src="../assets/ray.jpg" alt="People">
                        </md-avatar>
                        <md-list-item class="md-inset">
                            <md-icon class="md-primary">person</md-icon>
                            <div class="md-list-item-text">
                                <span>Ray Chen</span>
                            </div>
                        </md-list-item>
                        <md-list-item class="md-inset">
                            <md-icon class="md-primary">email</md-icon>
                            <div class="md-list-item-text">
                                <a href="mailto:miserable55520@gmail.com">miserable55520@gmail.com</a>
                                <span>Personal</span>
                            </div>
                        </md-list-item>
                    </md-list>
                    <!--<div>Ray & Catharine<br> </div>-->
                </div>
            </md-tab>
        </md-tabs>
    </div>
</template>

<script>
    export default {}
</script>

<style lang="scss" scoped>
    .md-dialog {
        max-width: 768px;

    }

    #container {
        padding: 3%;
        letter-spacing: initial;
        font-family: "Microsoft JhengHei UI", serif;
    }
</style>