<template>
</template>

<script>
    export default {
        name: 'Participate',
        components: {},
        props: [],
        data: function () {
            return {}
        },
        methods: {}
    }
</script>

<style lang="scss">

</style>